<app-header></app-header>
<div class="outer">
<div class="container-fluid ms-0 py-4 text-end pe-4 ">
    <!-- <input type="submit" class="btn btn-dark" value="logout" (click)="logout()" /> -->
 <h3> Welcome Back , {{fullName}}</h3>

</div>

 
 <table class="table table-striped p-3">
    <thead>
      <h3 class="text-center">User Lists</h3>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">User Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of user | paginate: { itemsPerPage: 8, currentPage: p }">
        <td>{{ p.name }}</td>
        <td>{{ p.username }}</td>
        <td>{{ p.age }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.role }}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
 </div>
<app-footer></app-footer>