.colr{
    background-color: #1B9C85;
}
.asd{
    background-color: black;
    height:900px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }