img{


     height: 200px;
     width: 200px;
}

body{
  font-family: 'Saira Condensed', sans-serif;
}

  
.cont{
  margin-left: 650px;
}


table {
    width: 100%;
    margin: 150px;
}
.table td {
  vertical-align : unset;
  font-size:14px;
}
.w30{
  width: 35%;
}
